<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Selenium.Firefox.WebDriver" version="0.26.0" targetFramework="net452" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net452" />
  <package id="Selenium.WebDriver.ChromeDriver" version="78.0.3904.10500" targetFramework="net452" />
  <package id="Selenium.WebDriver.IEDriver" version="3.150.1" targetFramework="net452" />
</packages>